[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
[submodule "meta-intel-iot-middleware"]
	path = meta-intel-iot-middleware
	url = git://git.yoctoproject.org/meta-intel-iot-middleware
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-rauc"]
	path = meta-rauc
	url = git@github.com:rauc/meta-rauc.git
